.content-header {
	padding: 8px;
	border-bottom: 1px solid #d3d7db;
	border-top: 1px solid #eee;
	background: #f7f7f7;
	position: relative;
	    margin-top: 50px;
}

.content-header h1 {
	font-size: 28px;
	color: #1D2939;
	letter-spacing: -0.5px;
	margin: 0;
}

.content-header h1 .fa {
	font-size: 24px;
	margin-right: 5px;
	padding: 6px 7px;
	border: 2px solid #1D2939;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.content-header .breadcrumb-wrapper {
	position: absolute;
	top: 10px;
	right: 0px;
}
@media screen and (max-width:480px){
	.content-header .breadcrumb-wrapper {
    position: initial;
    top: 10px;
    right: 0px;
    text-align: center;
}
	.content-header h1 {
    font-size: 15px; 
    text-align: center;
    padding: 5px 0px;
}
	.content-header h1 .fa {
    font-size: 15px; 
}
}
.content-header .breadcrumb-wrapper .label {
	color: #999;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: normal;
	display: inline-block;
}

.panel-heading, .panel-footer {
	background: #fff;
	    border-bottom: 1px solid #eee;
}

.panel-title {
	font-size: 18px;
	color: #111;
	/* font-family: 'LatoBold'; */
}

.content {
	padding: 20px;
	position: relative;
	background: #ffffff;
}

.subtitle-lined {
	border-bottom: 1px dotted #ddd;
	padding-bottom: 5px;
}

.subtitle {
	font-size: 15px;
    text-transform: uppercase;
    color: #000000;
    font-family: monospace;
    margin-bottom: 15px;
    margin-top: 0;
    font-weight: 500;
}

.bug-key-title {
	margin: 0;
	margin-bottom: 5px;
}

.subTitleBold {
	font-size: 12px;
	font-weight: 700;
}

.comment-box {
	display: none;
}

.noshadow {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* .tab-content {
	background: #fcfcfc;
	padding: 15px;
	-moz-box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
	-webkit-box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
	box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
} */

.media-list {
	padding-left: 0;
	list-style: none;
}

.media:first-child {
	margin-top: 0;
}

.media, .media .media {
	margin-top: 15px;
	padding-bottom: 15px;
}

.media, .media-body {
	overflow: inherit;
	zoom: 1;
}

.media>.pull-left {
	margin-right: 10px;
}

.pull-left {
	float: left !important;
}

.comment-list .media-body {
	font-size: 13px;
	position: relative;
}


.comment-list .reply {
	padding: 3px 8px;
	line-height: normal;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.comment-list p {
	margin-bottom: 10px;
}

.mynav>li>a:hover, .mynav>li>a:active, .mynav>li>a:focus {
	color: #444;
	background: #c8c8c8;
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 23px;
    color: rgb(0, 112, 210);
    white-space: nowrap;
}
.radio, .checkbox {
    position: relative;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
}
.link>a {
    color: rgb(0, 112, 210);
    text-decoration: none;
}
.table .fa-bug {
    color: #D9534F;
}
.table .fa-magic {
    color: #1CAF9A;
}
.th-primary {
    background-color: #428BCA;
    color: #fff;
}
.bug-issue-status-max-width-medium {
    max-width: 12em;
    padding: 6px;
}
th.column-max-width{
        width: 1%;
}
.bug-issue-status-green{
    background-color: #e3fcef;
    border-color: #e3fcef;
    color: #064;
    display: inline-block;
    padding-bottom: 2px;
    padding-top: 2px;
    
}
.bug-issue-status-info{
    background-color: #deebff;
    border-color: #deebff;
    color: #0049b0;
    display: inline-block;
    padding-bottom: 2px;
    padding-top: 2px;
}
button.btn.btn-sm.btn-default.dropdown-toggle {
    padding: 3px 8px ;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
}