<%@ taglib uri="http://tiles.apache.org/tags-tiles" prefix="tiles"%>
<%@ page language="java" contentType="text/html; charset=UTF-8"
	pageEncoding="UTF-8"%>
<%@ page import="org.apache.struts2.ServletActionContext"%>
<%@ taglib prefix="s" uri="/struts-tags"%>


        <!--************************************
        MAIN ADMIN AREA
    ****************************************-->

        <!--ADMIN AREA BEGINS-->
        <section id="main-area" class="main-admin-area">

            <!--HEADER BEGINS-->
            <header class="header clearfix">
                <div class="sidebar-toggle-btn">
                    <div class="fa fa-bars tooltips" data-original-title="Toggle Navigation"></div>
                </div>
                <div class="head-search">
                    <input type="search">
                </div>
                <div class="dropdown header-notification">
                    <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="fa fa-bell tooltips"></div>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" aria-labelledby="dLabel">
                        <li><i class="fa fa-remove"></i> System Notification</li>
                    </ul>
                </div>
            </header>
            <!--HEADER ENDS-->

            <section class="wrapper container-fluid">

                <div class="row">
                    <div class="col-md-12">
                        <div class="pnl">
                            <div class="hd clearfix">
                                <h5 class="pull-left">Atlas Air Travels</h5>
                                <div class="set pull-left">
                                    <button class="fa fa-pencil" id="button"></button>
                                    <button class="fa fa-trash" id="expand"></button>
                                </div>
                                <div class="set pull-right">
                                    <div class="dropdown">
                                      <button class="btn btn-sm btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Dropdown
                                        <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li><a href="#">Separated link</a></li>
                                      </ul>
                                    </div>
                               </div>
                            </div>
                            <div class="hd clearfix">
                                <h5 class="pull-left">Add Company</h5>
                            </div>
                            <div class="cnt cnt-table">
                                <div class="table-responsive">
                                    <table class="table table-form">
                                        <thead>
                                            <tr>
                                                <th>Profile</th>
                                                <th>&nbsp;</th>
                                                <th>&nbsp;</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>

                                                <td>
                                                    <div class="field-name">Company Name</div>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control input-md">
                                                </td>
												<td>
                                                    <div class="field-name">Company Type</div>
                                                </td>
                                                <td>
                                                    <select class="form-control input-md">
                                                        <option>Agency</option>
                                                        <option>2</option>
                                                        
                                                    </select>
                                                </td>
												
												
												
                                                
                                            </tr>
                                            
                                            <tr>
											 <td>
                                                    <div class="field-name">Website</div>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control input-md">
                                                </td>
                                                <td>
                                                    <div class="field-name">User Name</div>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control input-md">
                                                </td>
                                                
												

												</tr>

                                            <tr>
                                               <td>
                                                    <div class="field-name">Password</div>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control input-md">
                                                </td>
												
												 <td>
                                                    <div class="field-name">Password</div>
                                                </td>
												<td>
                                                    <input type="text" class="form-control input-md">
                                                </td>
												
                                            </tr>
                                            <tr>
											
                                                <td>
                                                    <div class="field-name">Email</div>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control input-md">
                                                </td>
                                                <td>
                                                    <div class="field-name">Address</div>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control input-md">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="field-name">Country</div>
                                                </td>
                                                <td>
                                                    <select class="form-control input-md">
                                                        <option>US</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <div class="field-name">Language</div>
                                                </td>
                                                <td>
                                                    <select class="form-control input-md">
                                                        <option>English</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>
                                                </td>
                                            </tr>
                                             <tr>
                                               <td>
                                                    <div class="field-name">City</div>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control input-md">
                                                </td>
												
												 <td>
                                                    <div class="field-name">Phone</div>
                                                </td>
												<td>
                                                    <input type="text" class="form-control input-md">
                                                </td>
												
                                            </tr>
                                            <tr>
                                                <th>Logo</th>
                                                <th>&nbsp;</th>
                                                <th>&nbsp;</th>
                                                <th>&nbsp;</th>
												
                                            </tr>
											
											<tr> <td> 
											
      <div  class=" field-name">Upload Images</div></td>
	 <td> <div class="col-sm-12">
<input id="lefile" type="file" style="display:none">
<div class="input-append">
<input id="photoCover" class="input-large" type="text">
<a class="btn" onclick="$('input[id=lefile]').click();" style="
    background-color: rgb(6, 111, 192);
    color: white;
">Browse</a>
</div></td>
 <th>&nbsp;</th>
                                                <th>&nbsp;</th>
                                                
												
<script type="text/javascript">
$('input[id=lefile]').change(function() {
$('#photoCover').val($(this).val());
});
</script>
								</div></div>
								</tr>
										<tr>
                                                <th>Branch</th>
                                                <th>&nbsp;</th>
                                                <th>&nbsp;</th>
                                                <th>&nbsp;</th>
                                            </tr>
											<tr>    
											<td>
                                                    <div class="field-name">Location</div>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control input-md">
                                                </td>
											<th>&nbsp;</th><th>&nbsp;</th>
											</tr>
												
											<tr>
                                                <th>Description</th>
                                                <th>&nbsp;</th>
                                                <th>&nbsp;</th>
                                                <th>&nbsp;</th>
                                            </tr>
											<tr>    
											<td>
                                                    <div class="field-name">Description</div>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control input-md">
                                                </td>
											<th>&nbsp;</th><th>&nbsp;</th>
											</tr>
											<tr>
                                                <th>Billing Address</th>
                                                <th>&nbsp;</th>
                                                <th>&nbsp;</th>
                                                <th>&nbsp;</th>
                                                
                                            </tr>
											<tr>    
											<td>
                                                    <div class="field-name">Company</div>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control input-md">
                                                </td>
												<td>
                                                    <div class="field-name">Reference</div>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control input-md">
                                                </td>
												
											
											</tr>
											<td>
                                                    <div class="field-name">Address</div>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control input-md">
													<div class="checkbox checkbox-inline">
                                                            <input type="checkbox" id="inlineCheckbox1" value="option1" checked="">
                                                            <label for="inlineCheckbox1">Above Address ? </label>
</div>
                                                </td>
												<td>
                                                    <div class="field-name">Country</div>
                                                </td>
                                                <td>
                                                    <select class="form-control input-md">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>
                                                </td>
												
											
											</tr>
												
											<tr>
                                                <th>Security</th>
                                                <th>&nbsp;</th>
                                                <th>&nbsp;</th>
                                                <th>&nbsp;</th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="field-name">Question</div>
                                                </td>
                                                <td>
                                                    <select class="form-control input-md">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <div class="field-name">Answer</div>
                                                </td>
                                                <td>
                                                    <select class="form-control input-md">
                                                        <option>US</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>
                                                </td>
                                            </tr>
                                           
                                        </tbody>
                                    </table>
                                    <div class="form-group table-btn">
                                        <div class="col-sm-10 col-sm-offset-2 ">
                                            <div class="pull-left"><button class="btn btn-danger" type="submit">Clear Form</button></div>
                                            <div class="pull-right">
                                                
                                                <button class="btn btn-default" type="submit">Cancel</button>
                                                <button class="btn btn-primary " type="submit">Register</button>
                                            </div>
                                        </div>
                                    </div>
                                    <br><br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </section>
        </section>
        <!--ADMIN AREA ENDS-->
</body>
</html>
