
.sidebar-separate .sidebar-content {
    padding-bottom: 0;
}

.sidebar-content {
    position: relative;
    padding-bottom: 8px;
}
.content-group {
    margin-bottom: 20px!important;
}
element.style {
    background-image: url(http://demo.interface.club/limitless/assets/images/bg.png);
    background-size: contain;
}

.bg-indigo-400 {
    background-color: #2f3133;
    border: 2px solid #353a40;
    color: #fff;
}
.border-radius-top {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.panel-body {
    position: relative;
}
.panel-body {
    padding: 0px;
}
.text-center {
    text-align: center;
}
.content-group-sm {
    margin-bottom: 0px!important;
}
.no-margin-bottom {
    margin-bottom: 0!important;
}
.text-semibold {
    font-weight: 500;
}

.display-inline-block {
    display: inline-block;
}
.sidebar-separate .sidebar-content .panel:last-child, .sidebar-separate .sidebar-content .sidebar-category:last-child {
    margin-bottom: 0;
}

.no-border-radius-top {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.no-border-top {
    border-top: 0!important;
}
.navigation {
    margin: 0;
    padding: 10px 0;
    list-style: none;
    position: relative;
}
.sidebar-default .navigation .navigation-header, .sidebar-default .navigation .navigation-header a {
    color: #999;
}

.navigation .navigation-header, .navigation .navigation-header a {
    color: rgba(255,255,255,.5);
    font-weight: 400;
}
.navigation .navigation-header {
    min-height: 30px;
    padding: 10px 20px;
    border-bottom: 0;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 1.82;
}
.navigation li {
    position: relative;
}
.sidebar-default .navigation li>a {
    color: #333;
}

.navigation > li {
    padding: 8px 12px;
    min-height: 44px;
    font-weight: 500;
}  
li.li-user {
    padding: 0px 0px;
    min-height: 0px;
    font-weight: 500;
}  
.navigation li+li {
    margin-top: 1px;
}

.navigation li {
    position: relative;
}
.img-circle {
    border-radius: 50%;
}
.panel-flat>.panel-heading>.panel-title {
    margin-top: 2px;
    margin-bottom: 2px;
}

.h6.panel-title, h6.panel-title {
    font-size: 15px;
}
.panel-flat>.panel-heading {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fff;
}

.panel-heading {
    position: relative;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.panel-bg-navy{
	    border-top: 2px solid #FF5722;
}
.panel-bg-gray {
    border-left: 2px solid #FF5722;
}
@media ( min-width : 320px) and (max-width: 480px) {
	.panel-bg-gray {
		border-top: 2px solid #FF5722;
		border-left: none;
	}
}

.heading-elements {
    background-color: inherit;
    position: absolute;
    top: 0%;
    right: 10px;
    height: 28px;
    margin-top: 0px;
}
.heading-elements:not(.visible-elements) .icons-list {
    margin-top: 5px;
        display: inline-flex;
}
.heading-elements-disc:not(.visible-elements) .icons-list {
    margin-top: 10px;
        display: inline-flex;
}
li.icon-inline {
    padding: 0px 5px;
}
.icon-a
{
cursor: pointer;
}
.own-bradcum{
	background:#fff; 
	padding: 2px 16px 2px 5px;
	margin-bottom: 10px;
}

.pull-right>.dropdown-menu {
    right: 0;
    left: auto;
    margin-top: 0px;
}
.dropdown-menu {
    min-width: 180px;
    padding: 7px 0;
    /* color: #333; */
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
}
.dropdown-menu>.dropdown-header>i, .dropdown-menu>.dropdown-header>img, .dropdown-menu>li>a>i, .dropdown-menu>li>a>img {
    margin-right: 12px;
    float: left;
    margin-top: 2px;
    top: 0;
}
.sidebar-default .navigation li:focus, .sidebar-default .navigation li:hover {
    background-color: #f8f8f8;
}
.navigation>li>a {
    padding: 12px 20px;
    min-height: 44px;
    font-weight: 500;
}
.sidebar-default .navigation>li.active>a, .sidebar-default .navigation>li.active>a:focus, .sidebar-default .navigation>li.active>a:hover {
    background-color: #f8f8f8;
    color: #333;
}
a.a-tab:focus, a.a-tab:hover {
    color: #333333;
    text-decoration: none;
}
.app-documents .articles .blocks>li {
    margin-bottom: 50px;
}
.app-documents .articles-item {
    padding-left: 45px;
    position: relative;
}
.app-documents .articles-item a {
    color: #76838f;
}
.app-documents .articles {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 50px 20px 0;
    background-color: #fff;
    border-radius: .286rem;
}

.app-documents .documents-wrap {
    position: relative;
    margin-top: 25px;
    margin-bottom: 25px;
}
.tooltip-inner {
	max-width: 400px;
	padding: 3px 8px;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	background-color: #000000;
}
.btn-label {
	position: relative;
	left: -6px;
	display: inline-block;
	padding: 6px 12px;
	background: rgba(0, 0, 0, 0.15);
	border-radius: 3px 0 0 3px;
}

.btn-labeled {	
	padding-top: 0;
	padding-bottom: 0;
}

.panel>:not(.panel-loading):not(.collapsing) {
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
}
.panel-heading+.nav-tabs {
    margin-top: -.715rem;
}
.nav-tabs-line {
    position: relative;
}
.nav-tabs {
    border-bottom: 1px solid #e4eaec;
}
.nav-tabs .nav-item {
    margin-bottom: -1px;
}
.panel>:not(.panel-loading):not(.collapsing) {
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
}

.panel-tab-body {
    position: relative;
    padding: 30px 10px;
}
.panel-footer-bordered {
    background-color: #fff;
    padding-right: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.panel-footer {
	    background-color: #fcfcfc;
    position: relative;
    padding: 7px 20px;
    padding-left: 0;
    padding-right: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.heading-elements-toggle {
    cursor: pointer;
    display: block;
    line-height: 1;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
}

.panel-footer-bordered>.heading-elements:not(.visible-elements) {
    margin-left: 0px;
    padding-right: 0;
}

.panel-footer>.heading-elements {
    position: static;
    margin-top: 0;
    padding-right: 20px;
}
.heading-elements:not(.visible-elements) .heading-text {
    margin-top: 8px;
}

.heading-elements:not(.visible-elements) .heading-text {
    display: inline-block;
        float: left;
    margin-left: 20px;
}
.nav>li>a:hover, .nav>li>a:focus {
    background-color: #eaeaea;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #ffffff;
    background-color: #02214c !important;
    border: 1px solid #dddddd;
    border-bottom-color: transparent;
    cursor: default;
        border-radius: 2px;
}


.subtitle-lined {
	border-bottom: 1px dotted #ddd;
	padding-bottom: 5px;
}

.subtitle {
	font-size: 13px;
	text-transform: uppercase;
	color: #333;
	font-family: 'LatoBold';
	margin-bottom: 15px;
	margin-top: 0;
}

.bug-key-title {
	margin: 0;
	margin-bottom: 5px;
}
.slds-theme_shade, .slds-theme--shade {
    background-color: rgb(243, 242, 242);
}
.slds-truncate {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.slds-p-horizontal_small, .slds-p-horizontal--small {
    padding-right: .75rem;
    padding-left: .75rem;
}
.slds-section__title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1rem;
    line-height: 1.75rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}